body {
    background-color: rgb(176, 229, 231);
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(105, 105, 105);
}

/* Container 1 for Add Expenses */
.container1 {
    position: relative;
    top: 20px;
    margin: auto;
    background-color: white;
    width: 60%;
    height: 150px;
    padding: 5px;
    border-radius: 5px;
}

.input {
    display: flex;
    justify-content: space-evenly;
}

.btn {
    position: relative;
    top: 10px;
    background-color: blue;
    color: white;
    padding: 5px 50px 5px 50px;
    border-radius: 5px;
    border: none;
}

/* Table */
.container2 {
    position: relative;
    top: 40px;
    width: 100%;
}

table {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
th {
    padding: 5px 80px 5px 15px;
    background-color: white;
    text-align: left;
}

td {
    padding: 5px 80px 5px 15px;
    text-align: left;
}

/* Link decoration */
.edit {
    color: rgb(49, 49, 49);
    text-decoration: none;
}

.delete {
    color: rgb(255, 0, 0);
    text-decoration: none;
}

a:hover,
a:focus {
    color: brown;
}

a {
    padding-left: 5px;
    padding-right: 5px;
}